@import java.util.Date

@import org.apache.maven.index.ArtifactInfo
@(artifactInfos: Seq[ArtifactInfo])

<table class="table table-hover table-sm" id="artifactlist-table">
    <thead>
        <tr>
            <th>Version</th>
            <th>Created/Modified</th>
        </tr>
    </thead>

    <tbody>
        @for(artifact <- artifactInfos) {
            <tr>
                <td>
                    <a href="@web.routes.WebController.groupArtifactVersionDetails(artifact.groupId, artifact.artifactId, artifact.version)">
                    @artifact.version
                    </a>
                </td>
                <td>@{
                    new Date(artifact.lastModified).format("dd-MM-YYYY")
                }</td>
            </tr>
        }
    </tbody>
</table>