@import app.HeaderFeatures
@(headerFeatures: HeaderFeatures, user: Option[UserModel])(implicit messages: Messages)
<nav class="navbar navbar-full navbar-dark bg-primary" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">depman</a>

        @if(headerFeatures.showUserControls) {
            <div class="nav navbar-nav pull-right">
            @if(user.isDefined) {
                <div class="dropdown">
                    <a class="nav-item nav-link" id="usermenu-dropdown-toggle" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @user.map(_.email) <i class="fa fa-fw fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right usermenu-dropdown" aria-labelledby="dropdownMenu1">
                        @user.filter(_.hasRole(UserModel.RoleAdmin)).map { user =>
                            <a href="@controllers.web.routes.AdminController.panel()" class="dropdown-item">@Messages("administration")</a>
                            <div class="dropdown-divider"></div>
                        }
                        <form action="@controllers.web.routes.AuthenticationController.logout()" method="POST">
                            <button type="submit" class="btn btn-link dropdown-item">@Messages("logout")</button>
                        </form>
                    </div>
                </div>
            } else {
                <a class="nav-item nav-link" href="@web.routes.AuthenticationController.registration()">@Messages("register")</a>
                <a class="nav-item nav-link" href="@web.routes.AuthenticationController.login()">@Messages("login")</a>
            }
            </div>
        }
    </div>
</nav>