@import app.Pagination
@(pagination: Pagination[Any])

<nav>
    <ul class="pagination pagination-sm">
        @if(pagination.page == 1) {
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        } else {
            <li class="page-item">
                <a class="page-link" href="?page=@{
                    pagination.page - 1
                }" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }

        @for(i <- 1.to(pagination.totalPages)) {
            @if(i == pagination.page) {
                <li class="page-item active">
                    <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                </li>
            } else {
                <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
            }
        }

        @if(pagination.page == pagination.totalPages) {
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        } else {
            <li class="page-item">
                <a class="page-link" href="?page=@{
                    pagination.page + 1
                }" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>