@import app.HeaderFeatures
@import app.HeaderFeatures.SearchFormMode
@(headerFeatures: HeaderFeatures)

@defining(headerFeatures.searchFormMode match {
    case SearchFormMode.FormMode => """action="/search""""
    case SearchFormMode.SinglePageMode => """ng-submit="submitSinglePageSearch()""""
}) { mode =>
    <form name="searchForm" class="form-inline search-form" @Html(mode) method="GET" novalidate>
    <div class="input-group">
        <button class="btn btn-link" id="searchbar-submit" action="submit" ng-disabled="searchForm.$invalid">
            <i class="fa fa-search"></i>
        </button>

        @defining(headerFeatures.searchQuery.getOrElse("")) { queryText =>
            @defining(if(headerFeatures.autofocusSearchBar) "autofocus" else "") { autofocus =>

                <input name="query"
                class="form-control"
                type="text"
                placeholder="Search"
                ng-model="query"
                ng-init="query='@queryText'"
                required @autofocus>
            }
        }
    </div>
    </form>
}