@import "_bootstrap-variable-overrides.scss";
@import "lib/bootstrap/scss/bootstrap";
@import "lib/tether/src/css/tether";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.frontpage-search-container {
  padding-top: 12%;
}

.frontpage-search-form {
  width: 100%;
}

.frontpage-search-form > .input-group {
  width: 100%;
}

.dependency-block {
  margin: 2em;
}

.addon-list {
  margin-bottom: 2rem;
}

#navbar {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.addon-list-entry {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
}

.narrow-container {
  height: calc(100% - 60px);
}

#artifactlist-table > tbody > tr {
  cursor: pointer;
}

@media (min-width: 768px) {
  .narrow-container {
    height: calc(100% - 60px);
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

.usermenu-dropdown {
  position: absolute;
  top: 44px;
}

#header {
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  padding: 0;
}

#searchbar {
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  padding: 6px 0;
  padding: 0.375rem 0;
}

#titlebar {
  padding: 1.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 300;
}

#searchbar-submit {
  position: absolute;
  right: 0;
  z-index: 10;
  padding: 8px;
}

#searchbar > div > form > div {
  width: 100%;
}

#navbar {
  margin: 0;
}

.narrow-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  > div {
    width: 100%;
  }

  width: 100%;
}

#searchresult-categories {
  margin-bottom: 3rem;
}

.nobulletpoints {
  list-style-type: none;
  padding-left: 0;
}