@import app.HeaderFeatures
@import app.repositories.MavenRepository.Status
@(mvnCentralStatus: Status)(implicit user: UserModel, messages: Messages)

@main(Messages("administration"), Some(user), HeaderFeatures(showSearchbar = false)) {

    <div class="card">
        <div class="card-block">
            <h5 class="card-title">Local Maven Central repository</h5>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="card-text list-unstyled">
                            <li>Status: @if(mvnCentralStatus.initialized) {
                                <span class="text-success">initialized</span>
                            </li>
                            <li>@Messages("lastupdated"): @mvnCentralStatus.lastUpdated.get
                            } else {
                                <span class="text-danger">not initialized</span>
                            }
                            </li>
                            <li>Update automatically every <a href="#" >2 weeks</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-primary pull-md-right">
                            <i class="fa fa-fw fa-refresh" aria-hidden="true"></i> @Messages("updatenow")
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}