@import app.HeaderFeatures
@()(implicit user: Option[UserModel], messages : Messages)

    @main("Frontpage", user, HeaderFeatures(showSearchbar = false, showTitlebar = false)) {
        <div class="row frontpage-search-container">
            <div class="col-xs-6 col-xs-offset-3">
            @parts._search_form(HeaderFeatures(autofocusSearchBar = true))
            </div>
        </div>
    }