@*****************************
* Details about a Group-Artifact combination (list of versions, description, ...)
******************************@
@import app.Pagination
@import org.apache.maven.index.ArtifactInfo
@(pagination: Pagination[ArtifactInfo])(implicit user: Option[UserModel], messages : Messages)
    @main("gadetails", user) {

        <div class="row">
            <div class="col-xs-12">
            @defining(pagination.displayedEntities.head) { ai =>
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">
                            <a href="@controllers.web.routes.WebController.groupDetails(ai.groupId)">@ai.groupId</a> <i class="fa fa-angle-double-right"></i>
                            @ai.artifactId</h4>
                        <h6 class="card-subtitle text-muted">License: TODO</h6>
                    </div>

                    <div class="card-block">
                        <p class="card-text">@ai.description</p>
                    </div>
                </div>
            }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-inverse card-success">
                    <div class="card-block">
                        <strong>Latest</strong>
                        <blockquote class="card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="card card-inverse card-primary">
                    <div class="card-block">
                        <strong>Latest (stable)</strong>
                        <blockquote class="card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <strong>Favorite</strong>
                        <blockquote class="card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">All versions (@pagination.totalEntityCount total)</div>

                    <div class="card-block">
                        @parts._artifactinfo_list(pagination.displayedEntities)
                        @parts._pagination(pagination)
                    </div>
                </div>
            </div>
        </div>

    }