@import controllers.web.forms.LoginForm.LoginFormData
@(loginForm: Form[LoginFormData])(implicit messages: Messages, flash: Flash)

@main(Messages("login"), None) {
    <div class="card narrow-card">
        <div class="card-block">
        @helper.form(action = controllers.web.routes.AuthenticationController.submitLogin(), 'novalidate -> "", 'name -> "loginForm") {
            @flash.get("success").map { message =>
                <div class="card card-success">
                    <div class="card-block">
                        @message
                    </div>
                </div>
            }
            @flash.get("error").map { message =>
                <div class="card card-danger">
                    <div class="card-block">
                        @message
                    </div>
                </div>
            }

            <div class="form-group">
                <label for="email">@Messages("email")</label>
                <input class="form-control" type="email" name="email" placeholder="@Messages("email.placeholder")" id="email" value="@loginForm("email").value" ng-model="email" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">@Messages("password")</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="@Messages("password.repeat")"
                ng-model="password" ng-minlength="6" required>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="rememberme" id="rememberme" value="true" ng-model="rememberme">
                    @Messages("rememberme")
                </label>
            </div>

            <button class="btn btn-primary" type="submit" id="submitbutton" ng-disabled="loginForm.$invalid">@Messages("login")</button>
        }
        </div>
    </div>
}