@import controllers.web.forms.RegistrationForm.RegistrationFormData
@(registrationForm: Form[RegistrationFormData])(implicit messages: Messages, flash: Flash)

    @main(Messages("register"), None) {
        <div class="card narrow-card">
        @helper.form(controllers.web.routes.AuthenticationController.submitRegistration(), 'novalidate -> "", 'name -> "registrationForm") {

            @flash.get("success").map { message =>
                <div class="card card-success">
                    <div class="card-block">
                        @message
                    </div>
                </div>
            }

            @flash.get("error").map { message =>
                <div class="card card-danger">
                    <div class="card-block">
                        @message
                    </div>
                </div>
            }

            @if(registrationForm.hasGlobalErrors) {
                <div class="card card-danger">
                    <div class="card-block">
                    @for(error <- registrationForm.globalErrors) {
                        <li>@error.message</li>
                    }
                    </div>
                </div>
            }

            <div class="card-block">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    @registrationForm.error("email").map { error =>
                        <div>
                            <small class="text-danger">@error.message</small>
                        </div>
                    }
                    <input class="form-control" type="email" name="email" ng-model="email"
                    placeholder="Your E-Mail address" id="email" value="@registrationForm("email").value" autofocus required>
                </div>
                <div class="form-group">
                    <label for="password">@Messages("password")</label>
                    @registrationForm.error("password").map { error =>
                        <div>
                            <small class="text-danger">@error.message</small>
                        </div>
                    }
                    <input class="form-control" type="password" name="password" ng-model="password"
                    id="password" placeholder="@Messages("password.placeholder")" ng-minlength="6" required>
                </div>
                <div class="form-group">
                    <label for="password">@Messages("password-repeat")</label>
                    <input class="form-control" type="password" name="passwordRepeat" ng-model="passwordRepeat"
                    id="passwordRepeat" placeholder="@Messages("password-repeat.placeholder")" ng-minlength="6" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="registerbutton" ng-disabled="registrationForm.$invalid">
                    @Messages("register")</button>
                </div>
            </div>
        }
        </div>
    }