@import app.SearchQuery
@import org.apache.maven.index.ArtifactInfo
@import app.HeaderFeatures
@import app.HeaderFeatures.SearchFormMode
@(query: SearchQuery, results: Seq[ArtifactInfo])(implicit user: Option[UserModel], messages : Messages)

@main(s"Search results for '${query.raw}'", user,
    HeaderFeatures(showSearchbar = true,
        showTitlebar = false,
        searchQuery = Some(query.raw),
        searchFormMode = SearchFormMode.SinglePageMode)) {

    <div ng-controller="SearchController">
        @if(query.isEmptyQuery) {
            <p>Query was empty</p>
        }

        <div class="container-fluid" id="searchresult-categories">
            <div class="row">
                <div class="col-xs-10">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" ng-class="{active: category === categories.all}" href="#" ng-click="changeCategory(categories.all)">
                                All
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" ng-class="{active: category === categories.groups}" ng-click="changeCategory(categories.groups)">
                                Groups
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" ng-class="{active: category === categories.artifacts} " ng-click="changeCategory(categories.artifacts)">
                                Artifacts
                            </a>
                        </li>
                        @if(user.isDefined) {
                            <li class="nav-item">
                                <a class="nav-link" href="#" ng-class="{active: category === categories.favorites}" ng-click="changeCategory(categories.favorites)">
                                    My favorites and lists
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-xs-2">
                    <i ng-show="searchInProgess" class="pull-right fa fa-spin fa-spinner"></i>
                </div>
            </div>
        </div>

        <div ng-repeat="result in results">
            <div class="card" >
                <div class="container-fluid  card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="card-title">{{result.data.group}}</h5>
                        </div>

                        <div class="col-sm-6">
                            <p class="text-muted" ng-hide="!displayLatestVersionInResult(result)">
                                <small>Latest version: {{result.data['latest-version']}}</small></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="card-text" ng-hide="result.data.description.length === 0">
                                {{result.data.description}}
                            </p>
                            <p class="card-text text-muted" ng-hide="result.data.description.length > 0">
                                No description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}