@import app.HeaderFeatures
@import controllers.web.forms.SetupForm.SetupFormData
@(setupForm: Form[SetupFormData])(implicit messages: Messages)
@main(Messages("setup"), None, HeaderFeatures(showSearchbar = false, showUserControls = false)) {

    @helper.form(action = controllers.web.routes.SetupController.submitSetup(), 'novalidate -> "", 'name -> "setupForm") {
        <div class="card">
            <div class="card-block">
                <h5 class="card-title">@Messages("administrator")</h5>

                <p class="card-text">@Messages("setup.administrator.description")</p>

                <div>
                    <div class="form-group">
                        <label for="email">@Messages("email")</label>
                        <input class="form-control" type="email" name="admin-email" placeholder="@Messages("email.admin.placeholder")"
                        id="admin-email" value="@setupForm("admin-email").value" ng-model="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">@Messages("password")</label>
                        <input class="form-control" type="password" name="admin-password" id="admin-password"
                        placeholder="@Messages("password.placeholder")" ng-model="password" ng-minlength="6" required>
                    </div>
                    <div class="form-group">
                        <label for="password">@Messages("password-repeat")</label>
                        <input class="form-control" type="password" name="admin-password-repeat" id="admin-password-repeat"
                        placeholder="@Messages("password-repeat.placeholder")" ng-model="passwordrepeat"
                        ng-minlength="6" match="password" required>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <button class="btn btn-primary" type="submit" ng-disabled="setupForm.$invalid">@Messages("complete")</button>
            </div>
        </div>
    }
}
